In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('random_cappuccino.db')

query = "SELECT * FROM users"

df = pd.read_sql_query(query, conn)

conn.close()

display(df)

,id,email,name,city,occupation,program,interests,age,contacts,status,previous_pairs
0,431037906,georgii.kutivadze01@icatt.it,Georgii Kutivadze,Moscow,Working,Public Administration,"AI, Football",25,121212,1,",7776344440"
1,7776344440,georgii.kutivadze01@icatt.it,Giorgio Kutini,Milano,Studying,Data Analytics,"Chess, AI",22,343434,1,",431037906"