In [32]:
import sqlite3
import pandas as pd

In [33]:
conn = sqlite3.connect('random_cappuccino.db')

query = "SELECT * FROM users"

df = pd.read_sql_query(query, conn)

conn.close()

display(df)

,id,email,name,city,occupation,program,interests,age,contacts,status,previous_pairs
0,1047815414,polina.drofa@studbocconi.it,Polina Drofa,Milan,student,Finance,"ai, sport, books",22,9154661832,1,",431037906,431037906,431037906,431037906,43103..."
1,7776344440,georgii.kutivadze@gmail.com,Giorgio Kutini,Moscow,Working,DS,"Swimming, Football, Chess",23,121212,1,",7885163270,7885163270,7885163270,7885163270,7..."
2,7885163270,polinadrofa@icloud.com,P D,Milan,stud,Finanza,"football, travelling, smthelse",23,88888888888,1,",7776344440,7776344440,7776344440,7776344440,7..."

In [11]:
df['previous_pairs'][3]

',7776344440,7776344440,7776344440,7776344440,7776344440'

# Feedback dateframe

In [35]:
db_path = "random_cappuccino.db"
conn = sqlite3.connect(db_path)
query = "SELECT * FROM feedback"
df = pd.read_sql_query(query, conn)
conn.close()
df

   id     user_id  rating                  comment                 date
0   1   431037906       8  I really like your bot!  2024-12-21 14:45:51
1   2   431037906       5                    So so  2024-12-21 14:55:32
2   3  7776344440      10                     None  2024-12-21 14:56:42