In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('random_cappuccino.db')

query = "SELECT * FROM users"

df = pd.read_sql_query(query, conn)

conn.close()

display(df)

,id,email,name,city,occupation,program,interests,age,contacts,status,previous_pairs
0,431037906,boblaros@mail.ru,Georgii Kutivadze,Milan,Studying,Data Analytics,"Sport, AI, Painting",25,454545,1,",1047815414,1047815414,1047815414,1047815414,1..."
1,1047815414,polina.drofa@studbocconi.it,Polina Drofa,Milan,student,Finance,"ai, sport, books",22,9154661832,1,",431037906,431037906,431037906,431037906,43103..."
2,7776344440,georgii.kutivadze@gmail.com,Giorgio Kutini,Moscow,Working,DS,"Swimming, Football, Chess",23,121212,1,",7885163270,7885163270,7885163270,7885163270,7..."
3,7885163270,polinadrofa@icloud.com,P D,Milan,stud,Finanza,"football, travelling, smthelse",23,88888888888,1,",7776344440,7776344440,7776344440,7776344440,7..."

In [11]:
df['previous_pairs'][3]

',7776344440,7776344440,7776344440,7776344440,7776344440'