In [29]:
import sqlite3
import pandas as pd

In [30]:
conn = sqlite3.connect('random_cappuccino.db', check_same_thread=False)
cursor = conn.cursor()

In [31]:
# Предположим, что у нас есть подключение к базе данных и объект курсора (cursor)
cursor.execute('SELECT * FROM users')

# Используем метод fetchall() для получения всех строк результата
result = cursor.fetchall()

In [32]:
df = pd.DataFrame(result)

In [33]:
df

,0,1,2,3,4,5,6,7,8,9
0,2776668227,polina.drofa@studbocconi.it,polina,Milan?,Unknown,Unknown,Unknown,0,ml,
1,2776670430,polina.drofa@studbocconi.it,з,Milan?,Unknown,Unknown,Unknown,0,h,
2,2776671061,polina.drofa@studbocconi.it,Polina,Milan?,Unknown,Unknown,Unknown,0,Milan,
3,2776672282,polina.drofa@studbocconi.it,Polina d,milan,stud,mfin,lalalla,22,-,